@*Code by Meet Kamal Grwal *@
@model IEnumerable<TravelExpertsData.Booking>

@{
    ViewData["Title"] = "Bookings";
}

<h1>Bookings</h1>
<h4 class="bg-danger">@TempData["Message"]</h4>
<p>
    <label>Total Cost Owing:</label>
    <input value="@ViewBag.Price" readonly/>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.BookingId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BookingDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BookingNo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TravelerCount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CustomerId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TripTypeId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PackageId)
            </th>
            
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.BookingId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BookingDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BookingNo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TravelerCount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CustomerId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TripTypeId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PackageId)
            </td>
            <td>
                
             @*   @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |*@
                @Html.ActionLink("Delete", "Delete", new { id=item.BookingId  })
            </td>
        </tr>
}
    </tbody>
</table>
